/* Some CSS to make the page prettier; not relevant to RWD */
html {
    font-family: sans-serif;
  }
  
header {
  background-color: #171717;
  color: #ffffff;
  text-align: center;
}

a{
  color:white;
  text-decoration: none;
  font-size: 20px;
}

  /*table */ 

table {
	border-collapse: collapse;
	margin: auto;
  width: 100%;
	
}

td {
	text-align: left;
	}



th {
	text-align: left;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.12);;
  color: #5f6368;
  
}
tr{
  transition: 0.5;
}
tr:hover{
  background-color: #e3e1df;
  
}

.icon-letter{
    font: bold 30px sans-serif; 
}
.contact-users{
  background-color: black;
}
.participant-table{
  border-bottom: 1px solid black;
}

button{
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
}
button:hover{
  background-color: #5f6368;
}
/**/
/*input form*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, input[type=email] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

label{
  color: #171717;
  position: relative;
}
/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
/*end input form*/
  
  footer {
    background-color: #303134;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    margin: auto;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 12%;
  }
  
  aside {
    background-color: white;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
  }
  
 
  * {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 { width: 8.33%; }
  .col-2 { width: 16.66%; }
  .col-3 { width: 25%; }
  .col-4 { width: 33.33%; }
  .col-5 { width: 41.66%; }
  .col-6 { width: 50%; }
  .col-7 { width: 58.33%; }
  .col-8 { width: 66.66%; }
  .col-9 { width: 75%; }
  .col-10 { width: 83.33%; }
  .col-11 { width: 91.66%; }
  .col-12 { width: 100%; }
  
  
  /*for mobile phone*/
  [class*="col-"]{
  width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media screen and (min-width: 992px) {
    /* For desktop */
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33%; }
    .col-11 { width: 91.66%; }
    .col-12 { width: 100%; }
  }

